<div class="header" fxLayout="row" fxLayoutAlign=" center">
  <h3 fxFlex>List of Intents
    <button mat-mini-fab (click)="add()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </h3>

  <button mat-raised-button (click)="trainModels()" style=color:#fff;>Build Agent</button>
</div>



<mat-card>
  <div *ngFor="let intent of intents" fxLayout="row" fxLayoutAlign=" center" class="intent-container">
    <div fxFlex="60">
      {{intent.name}}
    </div>
    <div fxFlex="40">
      <button mat-button (click)="train(intent)"  style="color:black;">Train</button>
      <button mat-icon-button (click)="edit(intent)" color="accent">
        <mat-icon aria-label="Edit this intent" style=color:#36b9cc;>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(intent)" style=color:#ea4335; *ngIf="intent.userDefined">
        <mat-icon aria-label="Delete this intent">delete</mat-icon>
      </button>
    </div>
  </div>
  <br>

</mat-card>
