mat-card{
    margin:10px;
    .intent-container{
        border-bottom: 1px solid lightgray;
        padding:10px;
    }
}
.header{
    margin: 10px;
}
.mat-mini-fab{
    background-color: #36b9cc;
}
.mat-raised-button{
    background-color: #36b9cc;
}